<div class="card-columns" >
    <div class="card animated fadeIn fast" *ngFor="let equipo of equipos; let i = index">
      <img [src]= " equipo.imgescudo "class="rounded mx-auto d-block" alt="Responsive image">
      <div class="card-body">
        <h5 class="card-title"  class="text-center">{{ equipo.nombre }}</h5>
        <footer class="blockquote-footer">
            <small class="text-muted">
              Ubicación <cite title="Source Title">{{ equipo.barrio }}</cite>
            </small>
          </footer>
<br>
          <!-- nos permite ir a la pagina del heroe-->
          <button type="button" (click)="verEquipo(i)" class="btn btn-outline-primary btn-block">Ver más ...</button>
      </div>
    </div>   
  </div>