<p>
  campeonatosinters works!
</p>

<div class="card-columns" >
  <div class="card animated fadeIn fast" *ngFor="let inter of inters;let i = index">
    <div class="card-body">
      <h5 class="card-title"  class="text-center">{{ inter.nombre }}</h5>
      <img [src]= " inter.img "class="figure-img img-fluid rounded" alt="Responsive image">
<br>
          <!-- nos permite ir a la pagina del campeonato-->
          <button type="button" (click)="verInter(i)" class="btn btn-outline-primary btn-block">Ver más...</button>
  </div>   
  </div>
</div>